/* Estilos generales para el cuerpo */
* {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

body {

    /* background-image: url(media/img/fondoGeneral.jpg); */
    background-color: rgba(50, 50, 65, 0.918);
    display: flex;
    background-attachment: fixed;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    background-size: cover;
    /* Ajusta el fondo para cubrir todo el área */
    background-repeat: no-repeat;
    /* Evita la repetición del fondo */
    min-height: 10vh;
    /* Asegura que el cuerpo sea al menos el 100% de la vista */
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~INDEX.HTML~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*____________________________________________Inicio Organización de la página*/
.contenedor-index {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    /* Solo una columna */
    grid-template-areas:
        "navbar"
        "form-contenedor"
        "footer";
}

.navbar {
    grid-area: navbar;
    /* Área "navbar" */
}

.form-contenedor {
    grid-area: form-contenedor;
    /* Área "form-contenedor" */
}

.footer {
    grid-area: footer;
    /* Área "footer" */
}

/*_______________________________________________Fin Organización de la página*/
/*_______________________________________________Inicio Diseño navbar*/
.navbar {
    width: 100%;
    position: fixed;
    z-index: 100; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    padding: 10px 0;
    background-color: black;
    border-bottom: 2px solid aliceblue;
    transition: 0.3s;
}
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    padding-top: 500px;
}
.contenedor .navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;

}
.navbar:hover {
    border-bottom-color: rgb(255, 0, 0);
    /* Cambia el color del borde al pasar el puntero por encima */
}

.navbar img {
    height: 40px;
}

.navbar button {
    background-color: transparent;
    color: aliceblue;
    border: none;
}

.navbar button:hover {
    color: rgb(82, 79, 252);
}

/*_______________________________________________Fin Diseño navbar*/
/*_______________________________________________Inicio formulario*/


.form-contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14vh;
    font-weight: bold;
}

.form-contenedor form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contenedor input {
    background-color: rgba(128, 128, 128, 0.418);
    border-radius: 3px;
    border: solid 1px rgba(6, 28, 158, 0.336);
    box-shadow: 10px 5px 5px black;
    width: 300px;
    text-align: center;
    font-weight: bold;
}

.form-contenedor input:hover {
    border-color: rgb(82, 79, 252);

}

.form-contenedor button {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: solid 1px rgba(6, 28, 158, 0.336);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    transition: 0.2s;
    /* Agrega una transición para suavizar el cambio de color */
}

.form-contenedor button:hover {
    background-color: rgb(82, 79, 252);
    color: black;
}

/*_______________________________________________Fin formulario*/
/*_______________________________________________Inicio footer*/
.footer {
    width: 100%;
    display: flex;
    z-index: 100;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    /* Fija el footer en la pantalla */
    bottom: 0;
    /* Lo posiciona en la parte inferior */
    background-color: black;
    color: aliceblue;
    border-top: 2px solid aliceblue;
    padding: 6px;
}

/*_______________________________________________Fin footer*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~INICIO.HTML~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*____________________________________________Inicio Organización de la página*/
.contenedor-inicio {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 1vh;
    grid-template-columns: 1fr;
    /* Solo una columna */
    grid-template-areas:
        "navbar"
        "datos-contenedor"
        "incidencias"
        "footer";
}

.navbar,
.datos-contenedor,
.footer {
    width: 100%;
}


.navbar {
    grid-area: navbar;
    /* Área "navbar" */
}

.form-contenedor {
    grid-area: form-contenedor;
    /* Área "form-contenedor" */
}

.incidencias {
    grid-area: incidencias;
    /* Área "incidencias" */
}

.footer {
    grid-area: footer;
    /* Área "footer" */
}

/*_______________________________________________Inicio datos*/
/*_______________________________________________Inicio Usuario*/
.usuario-conectado {
    margin-top: 11vh;
    padding-left: 20px;
    font-weight: bold;
}

.usuario-conectado span {
    color: red;
    font-weight: bold;
}

/*_______________________________________________Fin Usuario*/
.datos-contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-weight: bold;
}

.canvasRefr {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.canvasCong {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.incidencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-top: 57px;

}

.incidencias h2 {
    padding-bottom: 20px;
}


.swal-overlay {
    background-color: rgba(0, 0, 0, 0.815);
}

.swal-modal {
    background-color: rgba(0, 0, 0, 0.69);
    border: 3px solid aliceblue;
}

.swal-title {
    margin: 0px;
    font-weight: bold;
    font-size: 26px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    color: aliceblue;
    margin-bottom: 28px;
}

.swal-text {
    background-color: #000000;
    padding: 17px;
    border: 1px solid aliceblue;
    display: block;
    margin: 22px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    font-size: 12px;
    border: 2px solid #fffb00;
}

.incidencias .botInc {
    transition: 0.3s;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 10px;
}

.botInc:hover {
    background-color: rgb(82, 79, 252);
}

.boton-incidencia {
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #000000e0;
    border: 6px solid #000000;
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
    height: 71px;
    width: 325px;
    font-size: 23px;
}

/* Estilos para organizar en columnas */
.historico-incidencias {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    width: 100vw;
    gap: 10px;
    padding-bottom: 107px;

}

/*_______________________________________________Fin datos*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~REFRIGERADO.HTML~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.cuerpo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.canvasRefr{
    height: 220px;
    width: 500px;
}
.canvasCong{
    height: 220px;
    width: 500px;
}
.canvasRefr > h2{
    height: auto;
    width: auto;
}
.canvasRefr > p{
    font-size: 20px;
    padding-bottom: 50px;
}
.canvasRefr > h2 > span{
    height:500px;
    width: 500px;
}
.canvasCong > p{
    font-size: 20px;
    padding-bottom: 50px;
}
.canvasCong > h2 > span{
    height:500px;
    width: 500px;
}





.prod-contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0vh;
    font-weight: bold;
}

.prod-contenedor form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prod-contenedor input {
    background-color: rgba(128, 128, 128, 0.418);
    border-radius: 3px;
    border: solid 1px rgba(6, 28, 158, 0.336);
    box-shadow: 10px 5px 5px black;
    width: 300px;
    text-align: center;
    font-weight: bold;
}

.tabla-contenedor {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.indatos input{
    background-color: rgba(128, 128, 128, 0.418);
    border-radius: 3px;
    border: solid 1px rgba(6, 28, 158, 0.336);
    box-shadow: 10px 5px 5px black;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.horcong{
    font-size: 50px;
    font-weight: bolder;
}
.hmes{
    font-weight: bold;
}

/*_______________________________________________Fin Organización de la página*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~CALENDARIO~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*_________________________________________________Inicio opciones calenadario*/
/* Definición de los modelos de casillas */
.modelo-1 {
    background-image: url(media/img/TP_H.png);
    background-size: 100% 100%;
}

.modelo-2 {
    background-image: url(media/img/TNP_H.png);
    background-size: 100% 100%;
}

.modelo-3 {
    background-image: url(media/img/DF.png);
    background-size: 100% 100%;
}

.modelo-4 {
    background-image: url(media/img/DS.png);
    background-size: 100% 100%;
}

.modelo-5 {
    background-image: url(media/img/VAC.png);
    background-size: 100% 100%;
}
.modelo-6 {
    background-image: url(media/img/AR.png);
    background-size: 100% 100%;
}
.modelo-7 {
    background-image: url(media/img/ANR.png);
    background-size: 100% 100%;
}
.modelo-8 {
    background-image: url(media/img/DBT.png);
    background-size: 100% 100%;
}
.modelo-9 {
    background-image: url(media/img/DBE.png);
    background-size: 100% 100%;
}
.modelo-10 {
    background-image: url(media/img/FES.png);
    background-size: 100% 100%;
}
.calendario{
    margin-top: 20px; /* Agrega margen superior */
    margin-bottom: 20px; /* Agrega margen inferior */
    height: 600px;
    width: 600px;
}
.conjunto-calendario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
/*____________________________________________________Fin opciones calenadario*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~RESPONSIBE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Estilos para el pie de página en orientación vertical */
@media (orientation: portrait) {

    /*_______________________________________________Inicio Diseño navbar*/
    .navbar button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        font-size: 40px;
    }

    .navbar img {
        display: none;
    }
    .contenedor{
        padding-top: 10px;
        margin-top: 0px;
        
    }

    /*_______________________________________________Fin Diseño navbar*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~INDEX.HTML~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*_______________________________________________Inicio formulario*/
    .form-contenedor {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50vh;
        font-size: 40px;

    }

    .form-contenedor input {
        height: 50px;
        width: 800px;
        font-size: 35px;
    }

    /*_______________________________________________Fin formulario*/

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~INICIO.HTML~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*______________________________________________Inicio Usuario*/
    .usuario-conectado {
        margin-top: 120px;
        padding-left: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 40px;
    }

    /*______________________________________________Fin Usuario*/
    /*______________________________________________Inicio datos*/
    .datos-contenedor {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0vh;
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 30px;
    }
    .prod-contenedor{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0vh;
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 30px;
    }
    
    .canvasCong {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 400px;
        width: 800px;
        padding-top: 100px;
    }

    .canvasCong canvas{
        height: 400px;
        width: 800px;
    }

    .canvasRefr canvas{
        height: 400px;
        width: 800px;
    }

    .canvasRefr{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 400px;
        width: 800px;
    }
    

    .canvasCong h2 {
        text-align: center;
        width: 100%;
        font-size: 70px;
    }

    .canvasRefr h2 {
        text-align: center;
        width: 100%;
        font-size: 70px;
    }

    #grafico-produccion {
        width: 100%;
        max-width: 100%; /* Para asegurarse de que no exceda el ancho de la pantalla */
    }
    
    #grafico-produccion {
        width: 100%;
        max-width: 100%; /* Para asegurarse de que no exceda el ancho de la pantalla */
    }

    /*______________________________________________Fin datos*/

    /*_______________________________________________Inicio footer*/
    .footer {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    .prod-contenedor {
        font-size: 60px;
    }

    .prod-contenedor input {
        width: 600px;
        height: 60px;
        font-size: 40px;
        text-align: center;
    }

    .cuerpo .canvasRefr {
        height: 300px;
        width: 800px;
    }


    .swal-modal {
        width: 100vw;
        height: 60vw;
    }

    .swal-title {
        font-size: 60px;
    }

    .swal-text {
        font-size: 35px;
    }

    .swal-button {
        width: 250px;
        height: 100px;
        font-size: 35px;
    }

    .swal-content input[type="text"] {
        width: 100%;
        height: 100px;
        font-weight: bold;
        font-size: 40px;
    }

    .botInc {
        width: 850px;
        height: 100px;
    }

    .incidencias .botInc {
        border-radius: 23px;
        font-size: 55px;
    }

    .historico-incidencias {
        align-items: flex-start;
        /* Cambia la alineación a la izquierda */
    }
    .boton-incidencia {
        width: 100%;
        height: 100px;
        background-color: #000000e0;
        border: 6px solid #000000;
        font-size: 49px;
    }


    /*_______________________________________________Fin footer*/
    .canvasRefr > p {
        font-size: 40px;
    }
    .canvasRefr > span{
        font-size: 80px;
        font-weight: bold;
    }
    .indatos{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 49px;
    }
    .indatos input{
        
        font-size: 49px;
    }

    .horas-introducidas{
        padding-top: 50px;
    }
    .horas-introducidas p{
        padding-top: 50px;
    }
    .horas p {
        font-size: 29px;
    }
    .horas p > span{
        font-size: 59px;
    }
    .horas-introducidas h3{
        font-size: 49px;
    }
    
}

/* Estilos para el pie de página en orientación horizontal */
@media (orientation: landscape) {

    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~INDEX.HTML~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*_______________________________________________Inicio formulario*/
    .form-contenedor {
        padding-top: 4vh;
    }
    
    .datos-contenedor {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 0vh;
        margin: 20px;
        padding-bottom: 70px;
        font-weight: bold;
        font-size: 30px;
    }

    .usuario-conectado {
        margin-top: 14vh;
    }
    /*_______________________________________________Fin formulario*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~INICIO.HTML~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*_______________________________________________Inicio footer*/
    .footer {
        min-width: 100%;
        font-size: 20px;
    }

    /*_______________________________________________Fin footer*/

}